*.egg-info
*.pyc
.idea/:
*log*
db/
db/*
docker-compose*.yml
mysql_data/
.vscode
.vscode/*
.env
test*.py
scripts/.env*
test*.ipynb
task_ids.txt
create_tables_mysql.sql
add_existing_patient_example_chunks*.py
log.txt
*.sh